.assessorias-prevideciarias {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    background-color: var(--cor-1);
}

.tab-content-flex {
    min-height: 54vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-items: flex-start;
}

.tab-content-flex li {
    margin-bottom: 20px;
    max-width: 60ch;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--cor-5);
}

.tab-links {
    display: flex;
    justify-content: center;
    gap: 48px;
    border-bottom: solid 2px var(--cor-2);
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 40px;
}

.tab-links button {
    background-color: transparent;
    border: none;
    color: var(--cor-5);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
}

.tab-links button span {
    text-align: left;
}

.tab-links button i {
    font-size: 22px;
}

.tab-links button::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--cor-p3);

    position: absolute;
    bottom: -10px;
    left: -8px;
    border-radius: 999px;

    transition: all 0.3s linear;
}

.tab-links button:hover::after,
.tab-links button.active::after {
    width: 110%;
}

@media (min-width: 1400px) {
    .tab-content-flex {
        min-height: 35vh;
    }
}

@media (min-width: 1900px) {
    .tab-content-flex {
        min-height: 20vh;
    }
}

@media (max-width: 900px) {
    .tab-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 28px;
    }

    .tab-links button:hover::after,
    .tab-links button.active::after {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .tab-content-flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
    }
}

@media (max-width: 500px) {
    .tab-links {
        grid-template-columns: 1fr;
    }
}
