.introducao-previdencia {
    position: relative;
    padding: 3.2rem 0rem 3.2rem 0rem;
}

.intro-previdencia-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.previdencia-content-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50%;
}

.previdencia-left-subtitulo {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.previdencia-content-left p {
    font-size: 0.95rem;
}

.diferencias-setor-previdencia {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.1rem;
}

.diferencias-setor-previdencia .diferencial-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.diferencias-setor-previdencia .diferencial-item i {
    color: var(--cor-p2);
}

.diferencias-setor-previdencia .diferencial-item span {
    text-transform: capitalize;
    font-size: 0.9rem;
}

@media (max-width: 900px) {
    .intro-previdencia-content  {
        flex-direction: column-reverse;
    }

    .previdencia-content-left {
        max-width: 100%;
        text-align: center;
    }
    
    .previdencia-content-rigth img {
        max-width: 80%;
        margin: 0 auto;
    }

    .previdencia-content-left .btn-primary {
        align-self: center;
    }
    
    .diferencias-setor-previdencia {
        justify-items: center;
    }
}

@media (max-width: 700px) {
    .diferencias-setor-previdencia {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 550px) {
    .intro-titulo-previdencia {
        font-size: 1.3rem;
    }

    .intro-descri-previdencia {
        font-size: 0.9rem;
    }
}

