* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

:root {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;  
}

img {
    max-width: 100%;
    display: block;
}

label {
    display: block;
}

[data-anime] {
    opacity: 0;
    transition: transform 0.8s, opacity 0.8s ease-in;
}

[data-anime="left"] {
    transform: translate3d(-40px, 0, 0)
}

[data-anime="down"] {
    transform: translate3d(0px, 40px, 0)
}

[data-anime="rigth"] {
    transform: translate3d(40px, 0px, 0px)
}

[data-anime].anime {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.container {
    max-width: 1500px;
    padding: 20px 60px;
    margin: 0 auto;
}

.cookies {
    display: none;
}

.cookies.active {
    max-width: 90%;
    background-color: white;
    box-shadow: 0px 0px 7px 0px #00000014;
    border-radius: 8px;
    padding: 2rem;
    position: fixed;
    bottom: 25px;
    transform: translateX(5%);

    display: flex;
    flex-direction: column;
    gap: 20px;

    animation: cookiesAnimation 1s ease-in;
}

@keyframes cookiesAnimation {
    0% {
        opacity: 0;
        transform: translate3d(5%, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: translateY(5%, 25px, 0);
    }
}

.cookies p {
    font-size: 0.85rem;
}

.btn-cookies {
    border: solid 1px var(--cor-p3);
    background-color: var(--cor-p3);
    color: white;
    font-family: inherit;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 900px;
    cursor: pointer;
    align-self: flex-start;

    transition: all 0.2s linear;
}

.btn-cookies:hover {
    border: solid 1px var(--cor-p3);
    filter: brightness(0.9);
}

.titulo-banner {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 4px;
}

.btn-primary {
    align-self: flex-start;
    display: inline-block;
    padding: 10px 20px;

    background-color: var(--cor-p3);
    border-radius: 900px;
    color: var(--cor-0);
    font-weight: 500;
    font-size: 0.9rem;

    margin-top: 20px;

    transition: all 0.2s linear;
}

.btn-primary:hover {
    filter: brightness(0.9);
}

.detalhe-left {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 40px;

    transform: rotate(450deg);
}


@media (max-width: 770px) {
    .titulo-banner {
        font-size: 1.6rem;
    }
}

@media (max-width: 600px) {
    [data-anime="left"] {
        transform: translate3d(-20px, 0, 0)
    }
    
    [data-anime="down"] {
        transform: translate3d(0px, 30px, 0)
    }
    
    [data-anime="rigth"] {
        transform: translate3d(20px, 0px, 40px)
    }
    
    [data-anime].anime {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    } 

    .container {
        padding: 10px 25px;
    }  
}

@media (max-width: 500px) {
    .titulo-banner {
        font-size: 1.6rem;
        margin-bottom: 0px;
    }
}

@media (max-width: 400px) {
    .titulo-banner {
        font-size: 1.4rem;
        margin-bottom: 0px;
    }

    .subtitulo-banner {
        font-size: 0.9rem;
    }
}



