.header {
    background-color: white;
    box-shadow: 0px 0px 0px 3px #00000008;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.header-rede-sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-rede-sociais li a {
    padding: 8px;
    transition: all 0.2s ease-in;
}

.header-rede-sociais li:hover .iconify {
    color: var(--cor-p2);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1500px;
    padding: 8px 60px;
    margin: 0 auto;
}

.logo img {
    padding-top: 10px;
    max-width: 75%;
}

#btn-mobile {
    display: none;
}

.header-menu {
    display: flex;
    list-style: none;
}

.header-menu li .item-link {
    font-family: 'Poppins', sans-serif; 
    margin-top: -10px;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 20px;
    position: relative;
}

.header-menu li a:hover {
    color: var(--cor-p2)
}

@media (max-width: 1250px) {
    .header {
        background-color: var(--cor-0)
    }
    
    #btn-mobile {
        display: flex;
        justify-content: end;
        padding: .5rem .0rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    .header-menu {
        box-sizing: border-box;
        padding: 0px 60px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: start;
        justify-content: center;
        width: 100%;
        height: 0;
        
        background-color: var(--cor-0);
        position: absolute;
        top: 80px;
        right: 0px;
        z-index: 1000;
        overflow: hidden;
        visibility: hidden;
        transition: 0.5s; 

        box-shadow: 0px 15px 11px 0px #0000000f;
    }

    #hamburguer {
        display: block;
        width: 20px;
        color: var(--cor-8);
        border-top: 2px solid;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .header-menu li a {
        display: inline-block;
        padding: 0.9rem;
        font-size: 0.95rem;
        color: var(--cor-7);
        transition: all 0.2s ease-in-out;
    }

    .header-menu li a:hover {
        color: var(--cor-p3);
    }

    .header-menu li a:hover::before {
        display: none;
    }

    .nav.active .header-menu {
        height: 400px;
        visibility: visible;
        overflow: none;
    }

    .nav.active #hamburguer {
        border-top: transparent;
    }

    .nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px
    }
}

@media (max-width: 770px) {
    .logo img {
        max-width: 70%;
    }

    .header-menu {
        top: 80px;
    }



    .header-menu li a {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .header-content {
        padding: 10px 26px;
    }

    .header-menu {
        padding: 0px 14px;
    }
}

@media (max-width: 500px) {
    .logo img {
        max-width: 60%;
    }

    .header-menu {
        top: 70px;
    }
}

@media (max-width: 360px) {
    .header-menu {
        top: 78px;
    }
}

