.assesoria-introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    background-color: var(--cor-1);

    padding-top: 80px;
    padding-bottom: 80px;
}

.assesoria-intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
    padding-bottom: 4%;
}

.assessoria-content-left {
    max-width: 50%;
}

.assessoria-left-infor {
    display: flex;
    flex-direction: column;
}

.assessoria-left-infor p {
    font-size: 0.95rem;
}

.assesoria-left-subtitulo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

@media (max-width: 900px) {
    .assesoria-intro-content {
        flex-direction: column-reverse;
        gap: 60px;
    }
    
    .assessoria-content-left {
        max-width: 100%;
        text-align: center;
    }

    .assessoria-right-image img {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 550px) {
    .assessoria-left-titulo,
    .assessoria-tipos-titulo {
        font-size: 1.3rem;
    }

    .assessoria-left-descri {
        font-size: 0.9rem;
    }
}