.assesoria-tipos {
    background-color: var(--cor-7);
    padding-top: 40px;
    padding-bottom: 100px;
}

.assesoria-tipos-content {
    display: grid;
    gap: 40px;
}

.assessoria-tipo-intro {
    text-align: center;
}

.assesoria-tipos-subtitulo {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.assessoria-tipos-titulo {
    margin-top: -4px;
}

.assessoria-tipos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.assessoria-tipo-item {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #130528;
    padding: 28px;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.assessoria-tipo-item  i {
    padding: 8px;
    background-color: var(--cor-p3);
    color: var(--cor-0);
    border-radius: 4px;
}

.assessoria-tipo-item span {
    color: var(--cor-3);
    font-size: 0.9rem;
    max-width: 30ch;
}

.assessoria-tipo-item:hover {
    background-color: var(--cor-0);
}

.assessoria-tipo-item:hover i {
    background-color: var(--cor-p3);
    color: var(--cor-0);
}

@media (max-width: 500px) {
    .assessoria-tipos-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
}