@import '../global/modalSucess.css';
@import '../global/modalErro.css';

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-bottom: 100px;
    position: relative;
}

.contact .contact-form {
   display: flex;
   flex-direction: column;
}

.contact-form h2 {
    margin-top: -2px;
    font-weight: bold;
    font-size: 1.5rem;
}

.contact-form p {
    font-size: 0.95rem;
    font-weight: 400;
    max-width: 60ch;
    color: #717171;
}

.contact-form form {
    margin-top: 20px;
    width: 100%;
}

.group-form {
    margin-bottom: 12px;
}

.group-form :nth-last-child() {
    margin: 0;
}

.group-form label {
    font-size: 0.85rem;
    font-weight: 500;
    color: #051441cc;
    margin-bottom: 4px;
}

.group-form input, textarea {
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    border: solid 0.5px transparent;
    background-color: #F3F3F3;
    outline: none;
    font-size: 0.8rem;
    font-family: inherit;
    color: #8B8B8B;
}

.group-form 
input:focus,
.group-form textarea:focus {
   background-color: transparent;
   border: solid 0.5px #29AAE1;  
   box-shadow: 0px 0px 2px 0px #29aae16b;
}

.group-form textarea {
    resize: none;
    font-size: 0.8rem;
}

::placeholder {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #8B8B8B
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px 30px;
    border: none;
    background-color: #178FC1;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: inherit;
    color: white;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.contact-form .btn-form:hover  {
    filter: brightness(0.85);
}

.btn-envio.active {
    display: none !important;
}

.btn-envio[disabled] {
    opacity: .6;
    cursor: default;
}
  
.contact-map {
    height: 100%;
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: end;
}

.contact-map iframe {
    filter: grayscale(0.8);
    height: 500px;
    width: 90%;
    border-radius: 4px;
}

/* OUTRAS FORMAS DE CONTATO */
.opcoes-contatos {
    margin-bottom: 140px;
}

.decorador-title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.opcoes-contatos h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -4px;
}

.opcoes-contatos .opcoes-subtitulo {
    display: block;
    text-align: center;
    font-size: 0.95rem;
    color: #717171;
}

.container-opcoes {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.opcoes-item {
    border-radius: 6px;
    border: solid 0.5px #29aae12c;
    padding: 20px;
    width: 380px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all 0.2s linear;
    cursor: pointer;
}

.opcoes-item:hover {
    transform: scale(1.05);
}

.opcoes-item-icone i {
    background-color: #29AAE1;
    color: white;
    padding: 8px;
    border-radius: 50%;
}

.opcoes-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-content-title {
    font-size: 0.9rem;
    font-weight: 500;
}

.item-content-subtitulo {
    font-size: 0.85rem;
    margin-bottom: 6px;
}

.opcoes-item-content a {
    max-width: 80%;
    font-size: 0.85rem;
    text-decoration: none;
    color: #178FC1;
}

.opcoes-item-content a:hover {
    filter: brightness(0.7);
}

@media (max-width: 1000px) {
    .contact {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        gap: 40px;
        align-items: initial;
        margin-bottom: 80px;
    } 

    .contact-map {
        width: 100%;
    }

    .contact-map iframe {
        height: 400px;
        width: 100%;
        border-radius: 4px;
    }

    .opcoes-contatos {
        margin-bottom: 40px
    }

    .container-opcoes {
        gap: 10px;
    }

    .opcoes-item {
        width: 450px;
        height: 200px;
    }
}

@media (max-width: 960px) {
    .container-opcoes {
        gap: 20px;
        flex-direction: column;
    }

    .opcoes-item {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .opcoes-contatos h3, .contact-form h3 {
        font-size: 1.3rem;
    }

    .contact-form form {
        margin-top: 30px;
    }

    .group-form label {
        font-size: 0.9rem;
    }

    .group-form input, textarea {
        padding: 15px 14px;
    }

    .contact-form button {
        padding: 15px 30px;
        font-size: 0.95rem;
    }
}

