.parceiros {
    overflow: hidden;
    width: 100%;
    margin: auto;

    background-color: var(--cor-1);
}

.parceiros-carrousel {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.parceiros .parceiros-items {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 70px;
    transform: translate3d(0%, 0, 0);
    transition: transform 0.5s ease-in-out;
}

.parceiros-items img {
    filter: grayscale(0.9);
    width: 180px;
    transition: all 0.3s ease;
}

.parceiros-items img:hover {
    filter: grayscale(0);
}

.parceiros-marcadores {
    margin-top: 20px;
    display: flex;
    place-content: center;
    gap: 10px;
}

.parceiros-marcador {
   width: 11px;
   height: 11px;
   border: 1px solid var(--cor-3);
   border-radius: 50%;
   margin-bottom: 10px;
}

.parceiros-marcador.active {
    background-color: var(--cor-p1);
    border-color: var(--cor-p1);
}

.decoracao img {
    position: absolute;
    top: 20px;
    left: 30px;
    transform: rotate(90deg);
}

@media (max-width: 1300px) {
    .parceiros-carrousel {
        width: 80%;
    }
}

@media (max-width: 850px) {
    .parceiros-carrousel {
        width: 70%;
    }
}


@media (max-width: 500px) {
    .parceiros-carrousel {
        width: 50%;
    }
}

