.servicos {
    margin-bottom: 100px;
    box-shadow: inset 0 80px var(--cor-7);
}

.servicos-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

.servico-img img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.servico-introducao {
    margin-top: 50px;
}

.servico-subtitulo {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.servico-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: -2px;
    max-width: 90%;
}

.servico-texto {
    max-width: 60ch;
    color: #717171;
}

.servico-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.servico-item-img {
    position: relative;
}

.servico-item-img img {
    max-width: 90%;
}

.titulo-servico {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.descri-servico {
    max-width: 70ch;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: justify;
}

.btn-servico {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--cor-p1);
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease;
}

.btn-servico:hover {
    color: var(--cor-p2);
}

.solucao .servico-item-img::after,
.previdencia .servico-item-img::after,
.assessoria .servico-item-img::before
{
   content: "";
   width: 45px;
   height: 45px;
   position: absolute;
   top: 0;
   right: 70px;
}

.solucao .servico-item-img::after {
    background-image: url(../../assets/controller/icons/solucao.svg);
}

.assessoria .servico-item-img::before {
    right: 230px;
    background-image: url(../../assets/controller/icons/assessoria.svg);
}

.previdencia .servico-item-img::after {
    background-image: url(../../assets/controller/icons/previdencia.svg);
}

.assessoria {
    padding: 30px 60px;
    background-color: var(--cor-1);
}

.assessoria .servico-item-img img {
    border-radius: 50%;
    max-width: 90%;
}

.previdencia .servico-item-img img,
.solucao .servico-item-img img {
    border-radius: 50%;
}

@media (max-width: 1100px) {
    .solucao .servico-item-img::after,
    .previdencia .servico-item-img::after,
    .assessoria .servico-item-img::before
    {
        top: 0;
        right: 22%
    }
    
    .assessoria .servico-item-img::before {
        right: 70%;
    }
}

@media (max-width: 1000px) {
    .servico-introducao {
        margin-top: 0px;
    }
    
    .servicos {
        box-shadow: none;
    }

    .titulo-servico {
        font-size: 1.3rem;
        margin-bottom: 3px;
    }

    .introducao-texto {
        line-height: 1.3;
    }
}

@media (max-width: 930px) {
    .solucao, .previdencia {
        box-shadow: none;
    }
    
    .assessoria {
        box-sizing: border-box;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .servico-titulo {
        margin-bottom: 5px;
    }

    .introducao-texto {
        font-size: 0.95rem;
    }
}


@media (max-width: 800px) {
    .servicos {
        margin-bottom: 100px;
    }
    
    .servicos-grid {
        margin-top: 30px;
        grid-template-columns: auto;
    }

    .servico-subtitulo {
        font-size: 0.8rem;
    }

    .servico-titulo {
        margin-bottom: 5px;
        line-height: 1.4;
    }
    
    .servico-img {
        display: none;
    }

    .servico-item {
        flex-direction: column-reverse;
        justify-items: flex-start;
        align-items: center;
        gap: 20px;
    }

    .servico-item-img img {
        max-width: 60%;
        margin-left: 20%;
    }

    .assessoria {
        margin: 20px 0px 20px 0px;
        flex-direction: column;
    }

    .assessoria .servico-item-img img {
        max-width: 60%;
    }

    .servico-item-img {
        justify-self: center;
    }

    .solucao .servico-item-img::after,
    .previdencia .servico-item-img::after,
    .assessoria .servico-item-img::before
    {
        top: 0;
        right: 25%
    }

    .titulo-servico {
        font-size: 1.2rem;
    }
    
    .titulo-servico, .descri-servico {
        text-align: center;
    }

    .btn-servico {
        justify-content: center;
        font-size: 0.85rem;
    }
}

@media (max-width: 700px) {
    .servico-subtitulo {
        font-size: 0.85rem;
    }

    .servico-titulo {
        font-size: 1.5rem;
        line-height: 1.4;
    }
}

@media (max-width: 600px) {
    .servicos-grid {
        margin-top: 20px;
        margin-bottom: 10px;
        grid-template-columns: auto;
    }
    
    .servico-introducao {
        text-align: center;
        margin-bottom: 40px;
    }

    .servico-titulo {
        max-width: 100%;
        font-size: 1.4rem;
        margin-bottom: 5px;
        line-height: 1.4;
    }

    .servico-texto {
        display: none;
    }

    .descri-servico {
        font-size: 0.9rem;
    }

    .btn-servico {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .servico-introducao {
        margin-bottom: 20px;
    }

    .servico-titulo {
        font-size: 1.3rem;
    }

    .titulo-servico {
        font-size: 1.1rem;
    }
}