@import '../global/modalSucess.css';
@import '../global/modalErro.css';

.form-content {
    display: flex;
    align-items: center;
    height: 80vh;
    max-height: 1000px;
    border-bottom: solid 0.5px #3a3a3a;
    border-top: solid 0.5px #3a3a3a27;
    position: relative;
}

.form-content-left {
    background-image: linear-gradient(109.36deg, rgba(0, 0, 0, 0.81) 20.7%, rgba(0, 0, 0, 0.62) 80.36%),
    url("../../assets/oportunidades/gerais/form-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 40%;

    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form-content-left span {
    font-size: 0.85rem;
    font-weight: 600;
}

.form-content-left h3 {
    margin-top: -4px;
    font-weight: 600;
    font-size: 1.05rem;
}

.form-content-rigth {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}

.content-rigth-icon {
    display: flex;
    justify-content: end;
}

.form-content-rigth i {
    color: var(--cor-p3);
}

.form-curriculo-group {
    margin-bottom: 12px;
}

.form-curriculo-group label {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.form-curriculo-group input, .form-curriculo-group textarea {
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    border: solid 0.5px transparent;
    background-color: var(--cor-2);
    outline: none;
    font-size: 0.8rem;
    font-family: inherit;
    color: var(--cor-6);
}

.form-curriculo-group input::placeholder {
    color: var(--cor-4);
    font-weight: 500;
}

.form-curriculo-group input:focus{
   border: solid 0.5px #29AAE1; 
   background-color: transparent; 
}

.form-curriculo button {
    display: block;
    width: 100%;
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    background-color: var(--cor-p3);
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: inherit;
    color: white;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.btn-curriculo:hover {
    filter: brightness(0.8);
}

.btn-envio-curriculo.active {
    display: none;
    opacity: 0;
}

@media (max-width: 900px) {
    .form-content {
        flex-direction: column;
        height: 100%;
        max-height: 2000px;
    }

    .form-content-left {
        width: 100%;
        min-height: 50vh;
    }

    .form-content-rigth {
        width: 90%;
        padding: 40px 30px;
    }
}

@media (max-width: 550px) {
    .form-content-rigth {
        width: 100%;
    }

    .form-curriculo-group input, .form-curriculo-group textarea {
        padding: 14px 14px;
    }

    .btn-curriculo {
        padding: 14px 30px;
    }
}