.introducao-trabalhe-conosco {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--cor-1);

    padding-top: 30px;
    padding-bottom: 30px;
}

.trabalhe-conosco-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
    padding-top: 8%;
    padding-bottom: 8%;
}

.content-left, .content-rigth {
    max-width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-left a {
    align-self: flex-start;
    display: inline-block;
    padding: 10px 20px;

    background-color: var(--cor-p3);
    border-radius: 900px;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

.content-left a div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.content-left a i {
    font-size: 18px;
}

.left-infor-descri {
    font-size: 0.95rem;
    margin-bottom: 14px;
    line-height: 1.4;
}

.content-left-beneficios {
    display: flex;
    align-items: center;
    gap: 40px;
}

.left-beneficios-itens li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.9rem;
}

.oportunidades-intro {
    text-align: center;
    margin-bottom: 40px;
}

.oportunidades-intro-decorador {
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.oportunidades-intro-titulo {
    margin-top: -4px;
}

.oportunidades-intro-descri {
    font-size: 0.95rem;
    font-weight: 500;
}

@media (max-width: 900px) {
    .trabalhe-conosco-content {
        flex-direction: column-reverse;
    }

    .content-left {
        max-width: 100%;
        align-items: center;
    }

    .content-left a {
       align-self: center;
    }
    
    .content-left-infor {
        text-align: center;
    }
    
}

@media (max-width: 550px) {
    .content-left-beneficios {
        gap: 2px;
        flex-direction: column-reverse;
    }

    .content-left-beneficios li {
        font-size: 0.9rem;
    }

    .left-infor-titulo {
        font-size: 1.3rem;
    }

    .left-infor-descri {
        font-size: 0.9rem;
    }

    .content-rigth {
        max-width: 80%;
    }
}