.sobre-sistemas {
   position: relative;
   padding-top: 40px;
   padding-bottom: 40px;
}

.sistemas-introducao {
    margin-top: 50px;
    margin-bottom: 70px;
    display:  grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.sistemas-img {
    justify-self: end;
}

.sistemas-img img {
    border-radius: 5px;
}

.sistemas-subtitulo {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.sistemas-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.sistemas-diferencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.item-diferencial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.item-diferencial i { 
    font-size: 26px;
    border-radius: 3px;
}

.diferencial-nome {
    font-size: 1rem;
    font-weight: 600;
}

.diferencial-descri {
    max-width: 80%;
    font-size: 0.9rem;
}


@media (max-width: 900px) {
    .sistemas-introducao {
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 770px) {
    .sistemas-titulo {
        font-size: 1.7rem;
    }

    .sistemas-subtitulo {
        font-size: 0.7rem;
    }
}

@media (max-width: 600px) {
    .introducao-sistemas {
        height: 70%;
    }

    .sistemas-titulo {
        font-size: 1.4rem;
    }

    .introducao-titulo {
        font-size: 1.1rem;
    }

    .diferencial-descri {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .solucao-item-img img {
        max-width: 70%;
        margin-left: 15%;
    }

    #detalhe-1 {
        position: absolute;
        bottom: 5px;
        left: 25px;
        transform: rotate(0deg)
    }
}

@media (max-width: 450px) {
    .sistemas-introducao {
        margin-bottom: 40px;
    }
}

@media (max-width: 380px) {
    .sistemas-titulo {
        font-size: 1.2rem;
        margin-bottom: 40px;
    }

    .item-diferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .diferencial-nome {
        font-size: 0.95rem;
    }

    .diferencial-descri {
        font-size: 0.85rem;
        text-align: center;
    }
}